body {
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: #1f2937;
    padding: 8px 96px 72px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}